#cloud-config
# Source: https://www.pugetsystems.com/labs/hpc/ubuntu-22-04-server-autoinstall-iso/#h-user-data-example-file
autoinstall:
  version: 1
  interactive-sections: # Install groups listed here will wait for user input
    - storage
  storage: # This should set the interactive (lvm set) default
    layout:
      name: lvm
      match:
        size: largest
  locale: en_US.UTF-8
  keyboard:
    layout: us
  shutdown: poweroff # Shutdown so it doesn't continuously reinstall (default option in grub is to autoinstall)
  identity:
    hostname: myhost
    password: "$6$exDY1mhS4KUYCE/2$zmn9ToZwTKLhCw.b4/b.ZRTIZM30JZ4QrOQ2aOXJ8yk96xpcCof0kxKwuX1kqLG/ygbJ1f8wxED22bTL4F46P0"
    username: ubuntu
  ssh:
    allow-pw: true
    install-server: true
  apt:
    primary:
      - arches: [ default ]
        uri: http://us.archive.ubuntu.com/ubuntu/
  #   sources:     # Example for adding a ppa source
  #     ignored1:  # This is here to get the yaml formatting right when adding a ppa
  #       source: ppa:graphics-drivers/ppa
  packages:
    - build-essential
    - network-manager
    - dkms
    - emacs-nox
    # - ubuntu-desktop-minimal^  # uncomment to add a minimal desktop
  package_update: true
  package_upgrade: true
  late-commands:
    # Changing from networkd to NetworkManager
    # move existing config out of the way
    - find /target/etc/netplan/ -name "*.yaml" -exec sh -c 'mv "$1" "$1-orig"' _ {} \;
    # Create a new netplan and enable it
    - |
      cat <<EOF | sudo tee /target/etc/netplan/01-netcfg.yaml
      network:
        version: 2
        renderer: NetworkManager
      EOF
    - curtin in-target --target /target netplan generate
    - curtin in-target --target /target netplan apply
    - curtin in-target --target /target systemctl enable NetworkManager.service